<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheet/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bedding.ng</title>
</head>
<body>
    <div class="navbar">
        <div class="container flex">
            <h1 class="logo">bedding.ng</h1>
            <nav>
                <ul>
                    <li><a href="http://localhost:8080">Home</a></li>
                    <li><a href="http://localhost:8080/about">About</a></li>
                    <li><a href="http://localhost:8080/contact">contact-me</a></li>
                </ul>
            </nav>
            
        </div>
    </div>

    <div class="content">
        <div class="banner-area">
            <div class="row">
                <img src="images/homepage.jpg">
                <h2 class="heading">Find and book hotels in Nigeria</h2>
                <p class="paragraph">Search through 13,011 hotels in Nigeria</p>
            </div>
        </div>
    </div>

    <div class="form">
        <form>
            <div class="form-box">
                <input type="text" class="search-field business" placeholder="Search for a city or particular hotel">
                <input type="text" class="search-field location" placeholder="Location">
                <button class="search-button" type="button">Find hotels</button>
            </div>
        </form>
    </div>

    <div class="content-area">
        <h5>Suggested Destinations</h5>
        <p class="p">See our top pick of cities visited by most guests</p> 
    </div>

    <div class="boxes">
        <div class="box">Lagos
            <p>3,292 hotels</p>
        </div>
        <div class="box">Abuja
            <p>1,123 hotels</p>
        </div>
        <div class="box">Portharcourt
            <p>375 hotels</p>
        </div>
        <div class="box">Kaduna
            <p>175 hotels</o>
        </div>
        <div class="box">Uyo
            <p>436 hotels</p>
        </div>
    </div>

   <footer>
       <div class="cont">
           <div class="sec aboutus">
            <h2>About Us</h2>
            <p>We are an online travel agency specialising in hotel bookings within Nigeria. 
               We help customers book hotel rooms online, provide comprehensive help and support to our clients and make the hotel booking process smooth and easy.
               We also provide hotel recommendations and reviews, making sure that our clients stay in good, clean and safe hotels all over the country.</p>
                
            <ul class="sci">
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>
            </div>
            <div class="sec quicklinks">
                <h2>Quick Links</h2>
                <ul>
                    <li><a href="http://localhost:8080">Home</a></li>
                    <li><a href="http://localhost:8080/about">About</a></li>
                    <li><a href="http://localhost:8080/contact">Contact-me</a></li>
                </ul>
            </div>
            <div class="sec contact">
                <h2>Contact Info</h2>
                <ul class="info">
                    <li>
                        <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                        <span>
                            54b Tina Street<br>
                            Ikate, Lekki, Lagos<br>Nigeria</span>
                    </li>

                    <li>
                        <span><i class="fa fa-phone-square" aria-hidden="true"></i></span>
                        <p><a href="tel: +2348169901956">08169901956</a></p>
                    </li>

                    <li>
                        <i class="fa fa-envelope-open" aria-hidden="true"></i>
                        <p><a href="mailto:qnnaakwue@gmail.com">qnnakwue@gmail.com</a></p>
                    </li>
                </ul>

            </div>
       </div>
   </footer>
    <div class="copyrightText">
        <p>Copyright © 2021 Hotel Bedding Limited All Rights Reserved </p>
    </div>
</body>
</html>